@{
    ViewBag.Title = "Registration";
}
<div id="user-registration">
    <h2>Registration</h2>
    <form id="registration-form" action="/Account/Registration" method="post">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
        <input type="password" class="form-control" id="reg-pw" name="password" placeholder="Password" required />
        <input type="password" class="form-control" id="reg-pwConfirm" name="passwordConfirm" placeholder="Confirm Password" required />
        <input type="file" name="thumbnail" />
        <span id="btnRecord" style="border-radius: 30px;"><i style="color: white;" class="fa fa-microphone fa-3x"></i></span>
        <input type="hidden" id="speechId" name="speechId" />
        <input type="text" class="form-control" name="email" id="email" placeholder="E-Mail" required /><br />
        <input type="checkbox" id="newsletter" name="newsletter" checked /><label for="newsletter">Newsletter</label><br />                
        <button type="reset" class="btn btn-default">Clear</button>
        <input type="submit" id="register-submit" class="btn btn-primary" value="Register"/>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var webSocket = new WebSocket("ws://localhost:4343");
            webSocket.onopen = function () {
                alert("connected");
            };
            webSocket.onmessage = function (evt) {
                alert(evt.data);
                //$("#speechId").text(evt.data["result"]["task-options"]["optionValue"]);
            };
            webSocket.onerror = function (evt) {
                alert(evt.message);
            };
            webSocket.onclose = function () {
                
            };

            $("#btnRecord").on("click", function () {
                var name = $("#username").val();
                if(name == ""){
                    alert("No username given!");
                } else {
                    if (webSocket.readyState == WebSocket.OPEN) {
                        var recordObj = {
                            version:"1.0",
                            source:"mirrorCP",
                            id:Math.random().toString().substring(7),
                            command:{
                                task:"create",
                                taskoptions:[
                                    option:"1",
                                    optionValue:name
                                ]
                            }
                        }
                        webSocket.send(JSON.stringify(recordObj));
                    }
                    else {
                        alert("Connection is closed");
                    }

                    var recordClass = "record-active";
                    if ($("#btnRecord").hasClass(recordClass)) {
                        $("#btnRecord").removeClass(recordClass);
                    } else {
                        $("#btnRecord").addClass(recordClass);
                    }
                }
            });
        });
        
        $("#registration-form").submit(function (e) {
            if($("#reg-pw").text() == $("#reg-pwConfirm").text()){
                var f = $("#registration-form");
                var url = f.attr("action");
                var formData = f.serialize();
                $.post(url, formData, function (data) {
                    if(data == "0"){
                        var url = '@Url.Action("Index", "Home")';
                        window.location.href = url;
                    } else {
                        alert("failed");
                    }
                });

                return false;
                e.preventDefault();
            } else {
                alert("Check your password!");
                return false;
            }
            e.preventDefault();
        });
    </script>
}