<h1>You were signed off</h1>

@section Scripts{
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                window.location.href = '@Url.Action("Index","Home")';
            }, 2000);
        });
    </script>
}